@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    position: fixed;
    z-index: 50;
    /* Các thuộc tính CSS khác */
}

.box-live {
    border: 2px solid transparent;
    background:
        linear-gradient(#131219, #131219) padding-box,
        linear-gradient(var(--angle), transparent 50%, #00ff00 50%, transparent) border-box;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}